
.contact-container {
  height: 100vh;
  background-color: black;
  color: white;
  background-size: cover;
  background-position: center;
  margin-left: 0px;
  background-image: url(../Assets/background.png);
  background-position: center center;
  background-attachment: fixed;
}
.ptf-contact {
  font-size: 45px;
  color: rgb(108, 13, 197);
  font-style: italic;
  margin-bottom: 15px;
  text-align: center;
}
.contact {
  padding-top: 40px;
  background-color: (128, 126, 136);
  width: 55%;
  background-color: rgb(92, 95, 99);
  border-radius: 8px;
  margin-bottom: 4em;
  margin-left: 18em;
  margin-right: 9em;
  height: 25em;
  display: fixed;
  justify-content: center;
  align-items: center;
}
.contact-container {
  padding-top: 120px;
  width: 100%;
}

.form-box {
  margin-top: 0px;
  margin-bottom: 30px;
  margin-left: 120px;
}
label {
  padding: 5px;
  margin: 5px;
  top: 50%;
  bottom: 50%;
}
.form-item {
  text-align: left;
  align-items: center;
  font-size: 20px;
}
.form-input {
  margin-left: 50px;
  margin-top: 10px;
  width: 250px;
  height: 40px;
  background: transparent;
  border: none;
  outline: none;
  border-bottom: 2px solid white;
  color: rgb(255, 255, 255);
}
.form-input:hover {
  outline: none;
  border: none;
  border-bottom: 2px solid white;
  background: transparent;
}
textarea {
  margin-left: 50px;
  margin-top: 20px;
  width: 250px;
  height: 150px;
  background: transparent;
  outline: none;
  border: 2px solid white;
  color: white;
}

.form-submit {
  width: 100px;
  font-size: 20px;
  align-items: center;
  color: black;
  font-weight: 500;
  background-color: rgb(108, 13, 197);
  border: 3px solid rgb(43, 3, 80);
  border-radius: 6px;
}
.form-submit:hover {
  width: 100px;
  font-size: 20px;
  align-items: center;
  color: black;
  font-weight: 500;
  background-color: rgb(143, 88, 195);
  border: 3px solid rgb(103, 25, 176);
  border-radius: 6px;
}

.form-item {
  text-align: left;
  padding: 10px;
  margin: 10px;
}
